{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'profiles/css/mypage.css' %}">
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'profiles/css/my_page.css' %}"> {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>

{% comment %} <div class='profile_box'>
  <div class='profile_card bg_gradient'>
    <div class="row align-items-center h-100">
      <div class="col-md-8 px-5">
        <h5 class="text-white text-center text-md-left">{{ user.username }}</h5>
        <p class="text-white text-center text-md-left">{{ user.profile.email }}</p>
        <div class="d-flex align-items-center justify-content-between info pt-2">
          <div>
            <p class="text-white font-weight-bold">가입일</p>
            <p class="text-white font-weight-bold">소개말</p>
          </div>
          <div>
            <p class="text-white">2019-04-02</p>
            <p class="text-white">{{ user.profile.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='scrap_card'>
    <div class='scrap_title'>내 스크랩 수</div>
    <div class='scrap_count'>35</div>
  </div>
</div> {% endcomment %}

<h3>  {{ user.username }}님의 마이페이지</h3> <br>

{% if user.profile %}

  <div class="card-group">
  <h2 class="mypage">MYPAGE </h2>
    <div class="card">    
      <div class="card-body">
          <h5 class='card-title'><i class="fas fa-file-signature"></i> 닉네임</h5>
          <p class="card-text">{{ user.username }}</p>
          <h5 class='card-title'> <i class="fas fa-mobile-alt"></i> 연락처</h5>
          <p class="card-text">{{ user.profile.email }}</p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
          <h5 class='card-title'> <i class="fas fa-user-edit"></i> 소개글</h5>
          <p class="card-text m-0">{{ user.profile.content|linebreaks }}</p>
      </div>
    </div>
  </div>
{% else %}
  <div class="card-group">
  <h2 class="mypage"> MYPAGE </h2>
    <div class="card">
      <div class="card-body text-center py-5">
        <h4 class='profile'><a href="{% url 'profilecreate' %}"><i class="fas fa-user-edit"></i> 프로필 작성하기</a></h4>
      </div>
    </div>
  </div>
{% endif %}

  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-star"></i> 스크랩함</h5>
        <p class="card-text">관심 있는 만남 목록을 표시합니다.</p>
        <a href="{% url 'scraplist' %}"><i class="fas fa-link"></i> 스크랩함으로 가기</a>
      </div>
    </div>

  <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="far fa-plus-square"></i> 등록한 만남</h5>
        <p class="card-text"> 자신이 등록한 만남 목록을 표시합니다. </p>
        <a href="{% url 'mymeeting' %}"> <i class="fas fa-link"></i> 만남 등록 목록으로 가기</a>
      </div>
    </div>
  </div>

{% endblock %}