{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'meeting/css/style2.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'meeting/css/detail.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=East+Sea+Dokdo" rel="stylesheet">
</head>

<!-- 예은 section -->
<div class="detail_section" >
    <div class="title_zone">
    {% comment %} <div class="title_zone d-flex justify-content-between"> {% endcomment %}
        <h3 class='title'>{{ meeting.title }}</h3>
        <h5 class='created_at'>{{ meeting.created_at }}</h5>
    </div>
    <div class='category_zone'>
        <h5 class='category'>카테고리 : {{ meeting.category }}</h5>
    </div>
    <div class="time_zone">
        <h5>일자 : {{ meeting.date|date:"n월 j일" }} {{ meeting.start_time|time:"gA" }} ~ {{ meeting.end_time|time:"gA" }}</h5>
    </div>
    <div class="content_zone">
        <p>{{ meeting.body|linebreaks }}</p>
    </div>
    <div class='user_zone'>
        <h5 class='author'>작성자 {{ meeting.user.username }}</h5>
        <h5 class='profile_content'>{{ meeting.user.profile.content|linebreaks }}</h5>
    </div>
    <div class='button_zone'>
        {% if meeting.user == request.user %}
            <a href="{% url 'meetingupdate' meeting.id %}" class='detail_button'>수정하기</a>
            <a href="{% url 'meetingdestroy' meeting.id %}" class='detail_button' onclick="return confirm('정말 삭제하시겠습니까?')">삭제하기</a>
        {% else %}
            <a href="{% url 'createmessage' meeting.id %}" class='detail_button'>
                <i class="far fa-paper-plane fa-lg"></i> 쪽지 보내기
            </a>
            <a href="{% url 'scrap' meeting.id %}" class='detail_button'>
                {% if scrap %}
                        <i class="fas fa-star fa-lg"></i> 스크랩 취소
                {% else %}
                        <i class="far fa-star fa-lg"></i> 스크랩
                {% endif %}
            </a>
        {% endif %}
    </div>
    
</div>
    


{% comment %} <section class="listB">
    <h1> 이런 만남 어떤가요?  </h1>
    <div class="detail_container">
        <article>
            <p class='text-right text-muted'>{{ meeting.created_at }}</p>
            <h2> 카테고리 </h2>
            <h3>  {{ meeting.category }} </h3>
            <br>

            <h2> 제목 </h2>
            <h3> {{ meeting.title }} </h3>
            <br>
            
            <h2> 간단 소개글 </h2>
            <h3> {{ meeting.body}} </h3>
            <br>
            
            

            <h2> 가능한 시간대 </h2>
            <h3>  {{ meeting.date }}일 {{ meeting.start_time }}~{{ meeting.end_time }} </h3>
            <br>
        
            <hr>
        
            <h2> 작성자 </h2>
            <h3> {{ meeting.user }} </h3>
            <br>
            
            <h2> 작성자 소개글 </h2>
            <h3> {{ meeting.user.profile.content }} </h3>
            <br>
        </article>
    </div>
</section> {% endcomment %}
    
<div class="btn-group">
    {% if meeting.user == request.user %}
        <a href="{% url 'meetingupdate' meeting.id %}" class='detail_button'>수정하기</a>
        <a href="{% url 'meetingdestroy' meeting.id %}" class='detail_button' onclick="return confirm('정말 삭제하시겠습니까?')">삭제하기</a>
    {% else %}
        <a href="{% url 'createmessage' meeting.id %}"> <i class="far fa-paper-plane fa-lg"></i></i></i> 쪽지 보내기</a>
        <a href="{% url 'scrap' meeting.id %}">
                {% if scrap %}
                        <i class="fas fa-star fa-lg"></i> 스크랩 취소
                {% else %}
                        <i class="far fa-star fa-lg"></i> 스크랩
                {% endif %}
        </a>
    {% endif %}
    
</div>

{% endblock %}