{% load staticfiles %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


<head>

    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- css file load -->
    <link rel="stylesheet" type="text/css" href="{% static 'nav.css' %}" />
    <title>자만추 :: 자연스러운 만남 추구</title>
</head>
    
<h1>네비게이션 바가 올 부분</h1>
{% if user.is_authenticated %}
    환영합니다, {{ user.username }}님!
    <a href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
    <form id="logout" method="POST" action="{% url 'logout' %}">
        {% csrf_token %} <input type="hidden" />
    </form>
{% else %}
    <a href="{% url 'login' %}">로그인</a> <br/>
    <a href="{% url 'signup' %}">회원가입</a> <br/>
{% endif %}

<a href="{% url 'second' %}">home/second</a>
<a href="{% url 'mypage' %}">마이페이지</a>
<a href="{% url 'listpage' %}">만남리스트</a>
<a href="{% url 'listmessage' %}">쪽지함</a>


<div>
    {% block content %}
    {% endblock %}
</div>