@charset "UTF-8";

:root {
  --main-color: #6E37FF;
  --yellow-color: #F9DC2A;
  --light-color: #AD58F7;
  --white-color: #fff;
  --orange-color: #FFA650;
  --large-width: 1300px;
  --brown-color: #3A3727;
  --gray-color: #ddd;
  --black-color: #000;
}

 body {
    margin: 5rem;
    font-family: ' 맑은 고딕', 'Apple SD Gothic Neo',   sans-serif;
    font-size: 1rem;
    background-color: var(--white-color);
    background-color: #fff;
 }

 button{
   height: 3rem;
   background-color: var(--yellow-color);
   background-color: #F9DC2A;
   color: var(--brown-color);
   border-color: var(--gray-color);
   border-radius: 7px;
   border-width: 1.5px;
}

 @media (min-width: 768px) {
   /* 큰 화면 전용 설정*/   
   
}


 @media (max-width: 767px) {
    /* 작은 화면 전용 설정 */

 }