{% extends 'base.html' %}

{% block content %}

<h1>회원가입 페이지</h1>

{% if error %}
    {{ error }}
    <br/><br/>
{% endif %}

<form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    {{form}}
    Username: 
    <br/>
    <input name="username" type="text" value="" required='true'>
    <br/>
    Password:
    <br/>
    <input name="password1" type="password" value="" required='true'>
    <br/>
    Confirm Password
    <br/>
    <input name="password2" type="password" value="" required='true'>
    <br/>
    Email: 
    <br/>
    <input name="email" type="email" value="" required='true'>
    <br/>
    <input type="submit" class='btn btn-primary' value='회원가입!'>
</form>

{% endblock %}