@charset "UTF-8";


/* 기본색 */
:root {
  --main-color: #6E37FF;
  --yellow-color: #F9DC2A;
  --light-color: #AD58F7;
  --white-color: #fff;
  --orange-color: #FFA650;
  --large-width: 1300px;
  --brown-color: #3A3727;
  --black-color: #000;
  --gray-color: #ddd;
}

body {
    background-color: #f3f3f3;
}

/* sub nav*/
.sub_navbar{
    display: flex;
    justify-content: flex-end;   
    font-family: 'Daehan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Daehan.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
    background-color: white;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.btn-outline-success{
    margin-right: 1rem;
    border-color: var(--main-color);
    color: var(--main-color);
    border-radius: 10px;
    border-width: 0.25rem;
    font-weight: bold;
    width: 10rem;
    font-size: 1rem;
}

.btn-outline-success:hover{
    border-color: var(--yellow-color);
    background-color: var(--yellow-color);
    color: var(--white-color);
}

.form-inline{
    margin-right: 15px;
}
@media(min-width: 1440px) {
    .form-inline{
        margin-right: 85px;
    }
}

.listA {
    overflow: hidden;
    margin : 50px;
 }

 .listpage_container {
    margin : auto;
    margin-top : 10px;
    padding-left : 30px;
    padding-right : 30px; }

/* 만남 목록 */
.listpage_container a.shadowlink {
    display : block;
    border : solid 1px rgba(0,0,0,0.075);
    border-radius : 10px;
    color : inherit;
    text-decoration : none;
    box-shadow : 3px 3px 1px 1px rgba(0,0,0,0.2);
    width : auto;
    float: none;
    position: relative;
    margin : 20px;
    padding-left : 15px;
    padding-right : 10px;
    padding-top : 3px;
    padding-bottom : 5px; }

.listpage_container a.shadowlink:hover {
    opacity : 0.5; }

.listpage_container h1 {
    text-align : center;
    padding-bottom : 5px;
    font-size : 40px; 
    font-family: 'East Sea Dokdo', cursive; }

.listpage_container h2 {
    font-weight : bold;
    font-size : 20px;
    font-family: 'Nanum Gothic', sans-serif;
    padding-top : 0px;
    margin-bottom: 1px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}

.listpage_container h3 {
    font-size : 15px;  
    opacity : 0.8; 
    font-family: 'Nanum Gothic', sans-serif; 
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left : 1px;
    max-height: 30px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

/* 모바일 하단 버튼 */  

 .btn-group {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

.btn-group a {
    width: 100%;
    outline: none;
    border-left-width: 0.3px;
    border-left-style: double;
    border-right-width: 0.3px;
    border-right-style: double;
    border-bottom: none;
    border-top-width: 2px;
    border-top-style: double;
    border-color: var(--gray-color);
    padding: 1.1rem;
    font-family: 'Nanum Gothic', sans-serif;
    /*font-family: 'East Sea Dokdo', cursive;*/
    text-align: center;
    font-size: 1rem;
    letter-spacing: 4px;
    font-weight: bold;
    background-color: var(--main-color);
    color: var(--white-color);
}

.btn-group button:hover {
    background-color: var(--yellow-color);
    color: var(--black-color);
 }

 @media (min-width: 768px) {
   /* 큰 화면 전용 설정*/

}  


/* 작은 화면 전용 설정 */
 @media (max-width: 767px) {

    .listA {
        margin : 20px; }

    .listpage_container {
        margin : auto; }

    .listpage_container a {
        margin : 5px; }

    .sub_navbar{
          display: none;
    }
      .form-inline{
          display: none;
    }    
}

 
 /* 큰 화면 전용 설정 */
@media (min-width: 768px) {

  .listA {
    overflow: hidden;
    margin : 50px;
  }

 .listpage_container {
    max-width: 1300px;
    max-width: var(--large-width);
    margin : 50px auto; 
  }

 .btn-group {
    display: none;
 }
} 



/* 예은 */
.content {
    min-height: 100vh;
    margin-top: 65px;
}
@media (min-width: 1024px) {
    .meeting_container {
        margin-left: 13rem;
        margin-right: 13rem;
        padding-bottom: 4rem;
    }
}
@media (max-width: 767px) {
    .meeting_container {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding-bottom: 4rem;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .meeting_container {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding-bottom: 4rem;
    }
}
.inner-block {
    padding: 1rem;
    margin-bottom: 1rem;
    transition: 0.5s all ease;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
}
.shadow-light {
    height: 400px;
    -webkit-box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.2);
}
.meeting_images {
    height: 200px;
    width: 100%;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
    z-index: 22;
}
.meeting_image {
    height: 100%;
    width: 100%;
}
.meeting_header {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 0.8rem;
    color: #2f2e2e;
    line-height: 1.3;

}
.meeting_info {
    font-family: 'Didact Gothic', sans-serif;
    color: black;
    padding-bottom: 1rem;
    border-bottom: 1px solid #bdbdbd;
    height: 150px;
}
.meeting_title {
    font-family: 'Daehan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Daehan.woff') format('woff');
    font-weight: normal;
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
}
.meeting_content {
    font-family: 'Daehan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Daehan.woff') format('woff');
    font-weight: normal;
    color: #2f2e2e;
}
.meeting_footer {
    font-family: 'Daehan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Daehan.woff') format('woff');
    font-weight: normal;
    color: #2f2e2e;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
a:hover {
    text-decoration: none;
}

.page_title {
    font-family: 'Daehan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Daehan.woff') format('woff');
    font-weight: normal;
    /* font-style: normal;  */
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 7rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
@media (max-width: 767px) {
    .page_title {
        margin-left: 3rem;
        margin-right: 3rem;
        padding-bottom: 1rem;
    }
}

@font-face {
    font-family: 'Daehan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Daehan.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}