@charset "UTF-8";

.letter {
    overflow: hidden;
    margin : auto;
    margin-bottom: 4rem; }

.letter_container {
    border : hidden 1px black;
    border : hidden 1px var(--gray-color);
    display : block;
    color : inherit;
    text-decoration : none;
    position : relative; 
    margin-bottom: 8rem;
}
 
.letter_container_title {
    font-size: 1.5rem;
    font-family: 'Daehan';
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.recv {
    -webkit-box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    background : #ffde7b; }

.sent {
    -webkit-box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    background : #875aff; }

.letter_container h1 {
    text-align : center;
    padding-top : 10px;
    padding-bottom : 20px;
    font-size : 35px; 
    font-family:'Daehan'; }

.recv h2 {
    font-weight : bold;
    text-align : left;
    font-size : 20px;
    font-family:'Daehan';
    padding-bottom : 5px;
    margin-top : 3px;
    margin-bottom: 10px;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sent h2 {
    font-weight : bold;
    text-align : right;
    color : #ffffff;
    font-size : 20px;
    font-family:'Daehan',  #FFFFFF;
    padding-bottom : 5px;
    margin-top : 3px;
    margin-bottom: 10px;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.letter_container h3 {
    font-size : 15px; 
    font-family:'Daehan';
    margin-top: 7px;
    margin-bottom: 3px;
    padding-left : 1px;
    max-height: 30px auto;
    line-height: 1.5;
    white-space: normal;
    overflow: hidden;
    word-break:break-all;}

.sent h3 {
    color : white;}

.letter_container h4 {
    text-align : right;
    font-size : 10px; 
    font-family:'Daehan'; 
    margin-bottom: 5px;
    padding-left : 1px;
    line-height: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.sent h4 {
    color : #ffffff;}

.add_section {
    background: var(--main-color);
    padding: 3px;
    width: 100%;
    position: fixed;
    bottom: 0; }

.addmessage_form {
    margin-bottom: 0;
    margin-right:0px;
    padding-right:0px; }

.message_content {
    height: 3rem;
    border-radius: 10px; }

.send_button button {
    font-family: "Daehan";
    text-transform: uppercase;
    outline: 0;
    background: #6E37FF;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 10px;
    font-weight: 600;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
 }
 
 .send_button button:hover, .send_button button:active, .send_button button:focus {
    background-color: #F9DC2A;
    color: var(--brown-color);
    letter-spacing: 10px;
    font-weight: 600;
 }

/* 작은 화면 전용 설정 */
 @media (max-width: 767px) {

.letter_container {
    margin-left : 5px;
    margin-right : 5px;
    padding : 10px;
    padding-left : 15px;
    padding-right : 15px; 
}

.recv {
    width:65%;
    padding-top:5px;
    padding-left : 20px;
    padding-right : 20px;
    padding-bottom: 5px;
    margin-bottom: 1rem;
    max-width : 300px;
    min-height:80px; }

.sent {
    width:65%;
    padding-top:5px;
    padding-left : 20px;
    padding-right : 20px;
    padding-bottom: 5px;
    margin-bottom: 1rem;
    margin-left:120px;
    max-width : 300px;
    min-height:80px; }

.letter_container h1 {
    font-size : 35px; }

.recv h2 {
    font-size : 20px;
    line-height: 1.5; }

.sent h2 {
    font-size : 20px;
    line-height: 1.5; }

.letter_container h3 {
    font-size : 15px; 
    max-height: 30px auto;
    line-height: 1.5; }

.sent h3 {
    color : white;}

.letter_container h4 {
    font-size : 10px;  
    line-height: 15px; }

.sent h4 {
    color : #ffffff;}


.send_button button {
    height: 4rem;
    padding-right: 5px;
    padding-left: 1rem;
    font-size: 1.5rem; }
}

/* 중간 화면 전용 설정 */
@media (min-width: 768px) and (max-width: 1024px) {
 
.letter_container {
    margin-left : 180px;
    margin-right : 180px;
    padding : 15px;
    padding-left : 15px;
    padding-right : 15px; 
    margin-bottom: 8rem;
}

.recv {
    width:85%;
    padding-top:10px;
    padding-left : 20px;
    padding-right : 20px;
    padding-bottom: 10px;
    margin-bottom: 1.5rem;
    max-width : 500px;
    min-height:100px; }

.sent {
    width:85%;
    padding-top:10px;
    padding-left : 20px;
    padding-right : 20px;
    padding-bottom: 10px;
    margin-bottom: 1.5rem;
    margin-left:120px;
    max-width : 500px;
    min-height:100px; }
    
.recv h2 {
    font-size : 20px;
    line-height: 1.5; }

.sent h2 {
    font-size : 20px;
    line-height: 1.5; }

.letter_container h3 {
    font-size : 17px; 
    max-height: 30px auto;
    line-height: 1.5; }

.sent h3 {
    color : white;}

.letter_container h4 {
    font-size : 10px;  
    line-height: 15px; }

.sent h4 {
    color : #ffffff;}

.input-group {
    height:8rem; }

.send_button button {
    padding-right: 0.9rem;
    padding-left: 1.5rem;
    font-size: 2rem;
    height: 8rem; }
}


 
 /* 큰 화면 전용 설정 */
 @media (min-width: 1025px) {

.letter_container {
    margin-left : 350px;
    margin-right : 350px;
    padding : 10px;
    padding-left : 15px;
    padding-right : 15px; 
}

.recv {
    width:100%;
    padding-top:10px;
    padding-left : 20px;
    padding-right : 20px;
    padding-bottom: 10px;
    margin-bottom: 1.5rem;
    max-width : 500px;
    min-height:100px; }

.sent {
    width:100%;
    padding-top:10px;
    padding-left : 20px;
    padding-right : 20px;
    padding-bottom: 5px;
    margin-bottom: 1.5rem;
    margin-left:170px;
    max-width : 500px;
    min-height:100px; }

.recv h2 {
    font-size : 20px;
    line-height: 1.5; }

.sent h2 {
    font-size : 20px;
    line-height: 1.5; }

.letter_container h3 {
    font-size : 20px; 
    max-height: 30px auto;
    line-height: 1.5; }

.sent h3 {
    color : white;}

.letter_container h4 {
    font-size : 13px;  
    line-height: 15px; }

.sent h4 {
    color : #ffffff;}

.input-group {
    height:8rem; }

.send_button button{
    padding-right: 2rem;
    padding-left: 1.7rem;
    font-size: 2rem;
    height: 8rem;
    width: 5rem;
    height: 8rem; }

 }

@font-face {
    font-family: 'Daehan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Daehan.woff') format('woff');
    font-weight: normal;
    font-style: normal; }