@charset "UTF-8";

body{
    background-color:#f3f3f3;
}

.newmessage_container {
    margin-top:160px;
    margin-left:520px;
    margin-right:520px;
    border:transparent;
    font-family: 'Daehan';
}

.newmessage_container .newmessage_form{
    padding-top:25px;
    font-family: 'Daehan';
}

textarea.form-control {
    width:100%;
    height: 300px;
    margin-bottom:20px;
}
.newmessage_container h1 {
    display:inline;
    padding-bottom : 5px;
    font-size : 40px; 
    font-family: 'Daehan', cursive;
    padding-top : 20px;
    letter-spacing: 5px; }

.newmessage_container h2 {
    display:inline;
    padding-bottom : 5px;
    font-size : 25px; 
    font-family: 'Daehan', cursive;
    padding-top : 25px;
    letter-spacing: 2px; }

.newmessage_container button[type="submit"] {
    font-family: "Daehan";
    text-transform: uppercase;
    outline: 0;
    background: #6E37FF;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 10px;
    font-weight: 600;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.newmessage_container button[type="submit"]:hover, 
.newmessage_container button[type="submit"]:active, 
.newmessage_container button[type="submit"]:focus{
    background-color: #F9DC2A;
    color: var(--brown-color);
    letter-spacing: 10px;
    font-weight: 600;
} 


/* 작은 화면 전용 설정 */
@media (max-width: 767px) {

.newmessage {
    margin : 5px; }

.newmessage_container {
    margin : 1.5rem;
    padding-top:25px;}

.newmessage_container .newmessage_form {
    padding-top:20px;
}

.newmessage_container h1 {
    margin-left:1rem;
    font-size : 18px; 
    letter-spacing: 3px; }
}

/* 중간 화면 전용 설정 */
@media (min-width: 768px) and (max-width: 1024px) {

.newmessage {
    margin : 5px; }

.newmessage_container {
    margin : 15rem;
    margin-top:7rem;
    padding-top:35px;}

.newmessage_container .newmessage_form {
    padding-top:20px;
}

.newmessage_container h1 {
    margin-left:1rem;
    font-size : 25px; 
    letter-spacing: 3px; }

}
 
 /* 큰 화면 전용 설정 */
@media (min-width: 1025px) {
.newmessage {
    margin : 5px; }

.newmessage_container {
    margin : 20rem;
    margin-top:7rem;
    padding-top:35px; }

.newmessage_container .newmessage_form {
    padding-top:40px;
    margin-left:60px;
    margin-right:60px; }

.newmessage_container h1 {
    font-size : 1.5rem; 
    letter-spacing: 0.2rem;
    text-align:left;
    margin-left:4rem; }
}

@font-face {
    font-family: 'Daehan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Daehan.woff') format('woff');
    font-weight: normal;
    font-style: normal; }