{% extends 'base.html' %}
{% block content %}

<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'message/css/message_list.css' %}">
</head>

<body>
<div class="listmessage_container">
<div class="listmessgae_container_title">
    <i class="far fa-envelope"></i> 쪽지함
</div>
    {% for message in messages %}
        {% ifchanged message.sender or message.receiver or message.meeting %}
        <div class="card">
            <a href="{% url 'showmessage' message.id %}">
                <div class="simple_info">
                    {% if message.sender == request.user %}
                        <h3><i class="fa fa-reply icon-red" aria-hidden="true" id="send"></i> 보낸 쪽지</h3> <h4>|  {{message.receiver}} </h4>  
                    {% else %}
                        <h3><i class="fa fa-share icon-blue" aria-hidden="true" id="recv"></i> 받은 쪽지</h3> <h4>|  {{ message.sender }} </h4> 
                    {% endif %}

                    <h5>{{ message.summary }}<br></h5>
                    <h6> {{ message.created_at }}</h6>
                    <hr>
                    <h2>「{{ message.meeting }}」 만남으로부터 온 쪽지입니다.</h2>
                </div>
            </a>
        </div>
        
        {% endifchanged %}
    {% endfor %}
</div>
</body>

{% endblock %}