{% extends 'base.html' %}
{% block content %}
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'message/css/newmessage_style.css' %}" >
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=East+Sea+Dokdo" rel="stylesheet">
</head>

<section class="newmessage">
    <h1> 쪽지 보내기 </h1>
    <div class="newmessage_container">
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <br>
            <div class="send_button">
                <button type="submit"> <i class="fab fa-pushed"></i> 전송</button>
            </div>
        </form>
    </div>
</section>

<a href="{% url 'listpage' %}">돌아가기</a>
{% endblock %}
