{% extends 'base.html' %}
{% block content %}
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'message/css/newmessage_style.css' %}" >
</head>

<body>
    <div class="newmessage_container">
        <h1> <i class="far fa-edit"></i> {{ meeting.user }}님에게 쪽지보내기</h1>
        <form method="POST" class="newmessage_form">
            {% csrf_token %}
            {{form.content}}
            <br>
            <div class='button'>
                <button type="submit" class='btn btn-block filterbtn'> <i class="far fa-paper-plane fa-lg"></i> 전송</button>
            </div>
        </form>
    </div>
</body>
{% endblock %}