{% extends 'base.html' %}
{% block content %}

<head>
    {% load staticfiles %}
    <link rel="stylesheet" type='text/css' href="{% static 'message/css/letter_style.css' %}">
</head>


<section class = "letter">

    <div class="letter_container">
        <div class="letter_container_title">
        <i class="far fa-envelope-open"></i>
            {% if not messages.first.sender == request.user %}
                {{ messages.first.sender }} 님과의 쪽지
            {% else %}
                {{ messages.first.receiver }} 님과의 쪽지
            {% endif %}
        </div>

        {% for message in messages %}
            {% if message.sender == request.user %}
                <div class="sent">
                    {% comment %} <h2> 보낸 쪽지 </h2> {% endcomment %}
                    {% comment %} <p>보낸이 : {{ message.sender }}</p> {% endcomment %}
                    {% comment %} <p>받는이 : {{ message.receiver }}</p> {% endcomment %}
                    {% comment %} <p>게시글 : {{ message.meeting }}</p> {% endcomment %}
                    <h3> {{ message.content|linebreaks }}  </h3>
                    <h4> {{ message.created_at }} </h4>
                </div>
            {% else %}
                <div class="recv">
                    {% comment %} <h2>받은 쪽지 </h2> {% endcomment %}
                    {% comment %} <p>보낸이 : {{ message.sender }}</p>
                    <p>받는이 : {{ message.receiver }}</p>
                    <p>게시글 : {{ message.meeting }}</p> {% endcomment %}
                    <h3> {{ message.content|linebreaks }} </h3>
                    <h4> {{ message.created_at }} </h4>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
<div class="add_section">
    <form action="{% url 'addmessage' messages.last.id %}" method='POST' class='addmessage_form'>
        {% csrf_token %}
        <div class='input-group'>
            {{form.content}}
            <div class="send_button">
                <button type="submit"> <i class="fab fa-pushed"></i></button>
            </div>
        </div>
        {% comment %} <input type='hidden' value="{{message.meeting}}"> {% endcomment %}
    </form>
</div>

{% endblock %}